.park-card {
    display: flex;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.park-card img {
    min-width: 22%;
    height: 200px;
    object-fit: cover;
}

.card-text {
    padding-left: 20px;
    text-align: start;
}

@media (max-width: 700px) {
    .park-card {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
